<div class="media">
  <div class="media-left">
    <%= link_to image_tag(criminal.image.url, class: 'media-object'), criminal.image.url, target: '_blank' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= criminal.name %></h4>
  </div>
</div>

<img src="https://i.imgur.com/BPvgORk.png"width="320px">