.info {
    align-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: rgb(49, 214, 27);
    align-content: center;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
    background-image: url('https://i.imgur.com/gRacnJ2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}   

input {
    display: inline-block;
    background-color: black;
    color: rgb(49, 214, 27);
    border-color: rgb(49, 214, 27);
    padding: 10px;
    margin: 9px;
    font-family: 'Cutive Mono', monospace;
    text-align: center;
}

.text-center {
    text-align: center;
}

a:visited, a:active, a { 
    color: whitesmoke;
}

h1 {
    align-content: center;
}

label{
    width: 15em;
    display: inline-block;
    line-height: 0;
  }

  div.submit {
      display: block;
      float: left;
      margin-right: 0;
  }





tr:nth-child(even) {
    background-color: #2b2b2b;
}

table {
    border-bottom: 1px grey;
    margin: 0 auto;
    display: block;
    width: 1200px;
    padding-bottom: 15px;
}

tr:hover {
    background-color: darkolivegreen;

}

th, td {
    padding: 1px;
    text-align: left;
}



.photohead {
    padding: 2px grey;
    height: 375px;
    width: 72%;
}

.listhead {
    width: 200%;
    position: relative;
}

.u1{
    display:flex;
    display: inline-block;
    position: absolute;
    right: 40%;
    bottom: 230px;
}

.u2{
    display:flex;
    display: inline-block;
    position: absolute;
    left: 55%;
    bottom: 230px;
}

.front {
    z-index: 1000;
}



/* MODAL EDIT SECTION */
/* MODAL EDIT SECTION */
/* MODAL EDIT SECTION */

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(9, 255, 173);
    width: 70%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}